/*@media (min-width:640px) and (max-width:750px)*/
@media (max-width:1270px){
.wrapper{width: auto; padding: 0 10px;}
.mandate-section li{width: 24%; margin: 30px 4%;}
.footer-col1{width: 27.5%;}
.footer-col2{width: 28.5%; margin-left: 4%;}
.footer-col3{width: 28.5%;}
}

@media (max-width:1023px){
.intro-content{padding: 50px;}
.team-section li{vertical-align: top;}
.team-section p{font-size: 18px;}
.team-section h5{font-size: 13px;}
.footer-col3{width: 36.5%;}
.tweet-row{font-size: 11px;}
.tweet-meta{padding-left: 0;}
.tweet-meta a{min-width: 40px;}
.footer-top textarea{height: 150px;}
.banner-content h2{font-size: 40px;}
.banner-content p{font-size: 44px;}
}

@media (max-width:767px){
.intro-content{padding: 40px 10px;}
.intro-content hr{margin: 25px auto;}
.intro-content h3{font-size: 21px;}
.intro-content{font-size: 17px;}
.mandate-section{padding: 40px 0;}
.mandate-section li{width: 27%; margin: 15px 2%;}
.mandate-section p{font-size: 15px;}
.mandate-section li img{max-width: 95%;}
.team-section{padding: 40px 0;}
.findout-section{min-height: unset;}
.partners-section{padding: 40px 0;}
.tweet-section .fa-twitter{width: 40px; height: 40px; line-height: 40px;}
.tweet-row{padding-left: 55px; margin-bottom: 15px;}
.tweet-row p{margin-bottom: 15px;}
.banner-content h2{font-size: 32px;}
.banner-content p{font-size: 36px;}
}

@media (max-width:639px){
.mandate-section p{font-size: 13px;}
.mandate-section li img{max-height: 100px;}
.team-section p{font-size: 16px;}
.team-section h5{font-size: 12px;}
.findout-section{padding: 60px 0;}
.findout-section h3{font-size: 16px;}
.findout-section h2{font-size: 35px;}
.footer-top h3{margin-bottom: 15px;}
.footer-col1{width: 100%; text-align: center; margin-bottom: 25px;}
.footer-col2{width: 100%; text-align: center; margin: 0 0 25px 0;}
.footer-col3{width: 100%;}
.footer-col3 h3{text-align: center;}
.footer-top p{margin-bottom: 15px;}
.footer-top{padding: 25px 0;}
.banner-content h2{font-size: 24px;}
.banner-content p{font-size: 30px;}
}

@media (max-width:479px){
.intro-content h3{font-size: 17px;}
.intro-content{font-size: 14px;}
.mandate-section li{width: 42%; margin: 15px 2%;}
.team-section li{width: 80%; margin: 15px 1%;}
.partners-section li{width: 80%; margin: 5px 2%;}
.banner-content p{font-size: 22px;}
}